{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "useTabs": false,
  "tabWidth": 4,
  "requirePragma": false,
  "importOrder": [
    "^[a-zA-Z]",
    "^@nest",
    "^@(.*)",
    "^(.*)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "semi": false
}
